* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pages {
  clear: both;
  display: inline-block;
  font-size: 18px;
  margin: 50px 0 60px;
  min-height: 70px;
  text-align: center;
  width: 100%;
}

.orders_list_pages {
  width: 170%;
}

.pages ul {
  padding: 0;
  width: 100%;
}

.pages ul li {
  color: #707070;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  margin: 0 4px 0 0;
}

.pages ul li a,
.pages ul li a:visited {
  border-radius: 4px;
  color: #707070;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

.pages ul li a:hover,
.current_page,
em {
  background: #878787;
  border-radius: 4px;
  color: white;
  display: block;
  font-style: normal;
  padding: 5px 10px;
  text-decoration: none;
}

.pages ul li a:hover {
  background: #EFEFEF;
  color: #626468;
}

.page_navigator {
  width: 40px;
}

.set_sort_param {
  display: inline-flex;
  position: relative;
  left: 0px;
  top: 5px;
  height: 20px;
  width: auto;
  font-size: 18px;
  cursor: pointer;
  margin: 0 0 40px 0;
}

.set_sort_param:hover,
.selected_sort_par {
  color: blue;
}

.sort_param {
  margin: 0 0 0 10px;
}

.actions_list {
  position: absolute;
  left: 100px;
  top: -3px;
  min-width: 163px;
  padding: 0;
  text-align: left;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #000;
  border-radius: 3px;
  font-style: normal;
  font-size: 17px;
}

.actions_list ul {
  line-height: 1.5;
  padding: 3px;
  cursor: pointer;
}

.actions_list li {
  margin: 0;
  padding: 3px 14px 3px 3px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.actions_list li:hover:not(.deactivate)>.material-icons {
  opacity: 1;
}

.actions_list li:hover {
  background: #F8F7FC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}